## Observations and Insights

In [205]:
%matplotlib widget

In [180]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np


# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [168]:
# Combine the data into a single dataset
mouse_study_merge=pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
mouse_study_merge.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [117]:
# Checking the number of mice.
mouse_study_merge["Mouse ID"].nunique()

249

In [126]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Mouse_Data=mouse_study_merge.groupby(["Mouse ID", "Timepoint"])
mouse_study_merge.loc[mouse_study_merge["Mouse ID"] == "k403", :]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1

In [129]:
mouse_study_merge.loc[mouse_study_merge["Mouse ID"] == "g989"]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [114]:
# Optional: Get all the data for the duplicate mouse ID. 
mouse_dubs =mouse_study_merge.loc[mouse_study_merge.duplicated(['Mouse ID', 'Timepoint'])]
mouse_dubs
#mouse_dubs = mouse_study_merge.duplicated(['Mouse ID', 'Timepoint'])

#mouse_dubs.value_counts()
#mouse_dubs=pd.DataFrame(mouse_dubs)
#mouse_dubs[mouse_dubs[0]]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [94]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mouse_df=mouse_study_merge.drop_duplicates(subset=['Mouse ID', 'Timepoint'], keep=False, inplace=False)
clean_mouse_df["Mouse ID"].count()


#DataFrame.drop_duplicates(subset=None, keep=’first’, inplace=False)
#data.sort_values("First Name", inplace = True) 
  
# dropping ALL duplicte values

1883

In [131]:
# Checking the number of mice in the clean DataFrame.
clean_mouse_df["Mouse ID"].nunique()

249

In [134]:
clean_mouse_df.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

## Summary Statistics

In [165]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

drug_group=clean_mouse_df.groupby("Drug Regimen")

drugs_mean =clean_mouse_df[["Drug Regimen", "Tumor Volume (mm3)"]].groupby("Drug Regimen").mean()
drugs_median =clean_mouse_df[["Drug Regimen", "Tumor Volume (mm3)"]].groupby("Drug Regimen").median()
drugs_var=clean_mouse_df[["Drug Regimen", "Tumor Volume (mm3)"]].groupby("Drug Regimen").var()
drugs_std=clean_mouse_df[["Drug Regimen", "Tumor Volume (mm3)"]].groupby("Drug Regimen").std()
drugs_SEM=clean_mouse_df[["Drug Regimen", "Tumor Volume (mm3)"]].groupby("Drug Regimen").sem()



# This method is the most straighforward, creating multiple series and putting them all together at the end.
drug_tumorVol= pd.merge(drugs_mean, drugs_median, on="Drug Regimen")
drug_tumorVol= drug_tumorVol.rename(columns={"Tumor Volume (mm3)_x": "Tumor Volume (mean)", "Tumor Volume (mm3)_y": "Tumor Volume (median)"})
drug_tumorVol=pd.merge(drug_tumorVol, drugs_var, on="Drug Regimen")
drug_tumorVol=pd.merge(drug_tumorVol, drugs_std, on="Drug Regimen")
drug_tumorVol=pd.merge(drug_tumorVol, drugs_SEM, on="Drug Regimen")
drug_tumorVol=drug_tumorVol.rename(columns={"Tumor Volume (mean)": "Tumor Volume (mean)", 
                                            "Tumor Volume (median)": "Tumor Volume (median)",
                                            "Tumor Volume (mm3)_x": "Tumor Volume (var)",
                                            "Tumor Volume (mm3)_y": "Tumor Volume (std)",
                                            "Tumor Volume (mm3)": "Tumor Volume (SEM)"})
drug_tumorVol

,Tumor Volume (mean),Tumor Volume (median),Tumor Volume (var),Tumor Volume (std),Tumor Volume (SEM)
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.458254,50.854632,44.053659,6.637293,0.540135
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [198]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_group=clean_mouse_df.groupby("Drug Regimen")
drug_group["Tumor Volume (mm3)"].describe()

# This method produces everything in a single groupby function

,count,mean,std,min,25%,50%,75%,max
Drug Regimen,,,,,,,,
Capomulin,230.0,40.675741,4.994774,23.343598,37.685933,41.557809,45.000000,48.158209
Ceftamin,178.0,52.591172,6.268188,45.000000,47.208427,51.776157,56.801438,68.923185
Infubinol,178.0,52.884795,6.567243,36.321346,47.312353,51.820584,57.314444,72.226731
Ketapril,188.0,55.235638,8.279709,45.000000,48.232987,53.698743,60.870951,78.567014
Naftisol,186.0,54.331565,8.134708,45.000000,47.285874,52.509285,59.963034,76.668817
Placebo,181.0,54.033581,7.821003,45.000000,47.459053,52.288934,59.916934,73.212939
Propriva,151.0,52.458254,6.637293,45.000000,47.011050,50.854632,56.528101,72.455421
Ramicane,228.0,40.216745,4.846308,22.050126,36.674635,40.673236,45.000000,47.622816
Stelasyn,181.0,54.233149,7.710419,45.000000,48.047139,52.431737,58.719297,75.123690
Zoniferol,182.0,53.236507,6.966589,45.000000,47.337876,51.818479,57.954259,73.324432

## Bar and Pie Charts

In [211]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

TypeError: 'DataFrameGroupBy' object is not callable

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen